[submodule "test/lib/googletest"]
	path = test/lib/googletest
	url = https://github.com/google/googletest.git
	branch = main
[submodule "lib/matplotplusplus"]
	path = lib/matplotplusplus
	url = https://github.com/alandefreitas/matplotplusplus.git
	branch = master
